* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  height: 100vh;
  line-height: 1.7;
}

/* navbar */
.navbar {
  background-color: #000000;
}

.nav-list {
  padding: 30px 150px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: #868e96;
  font-weight: 600;
}

.nav-brand {
  margin-right: auto;
}

.nav-link-brand {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}

.nav-item > a:hover {
  color: #fff;
}

.nav-link-home {
  color: #fff;
}

/* content */
.content-container {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.7),
      rgba(40, 180, 131, 0.7)
    ),
    url(./imgs/restauBackground.jpg);
  background-size: cover;
}

.content-container .content {
  max-width: 900px;
  text-align: center;
}

.main-content {
  font-size: 5em;
  color: #fff;
}

.sub-content {
  font-size: 2em;
  color: #fff;
  margin-top: 30px;
}

.btn-order {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background-color: #e67700;
  padding: 20px 30px;
  margin-top: 50px;
  letter-spacing: 2px;
  transition: 0.5s;
  border: none;
  border-radius: 100px;
}

.btn-order:hover {
  background-color: #f08c00;
  letter-spacing: 3.5px;
  cursor: pointer;
}

.btn-order:active {
  background-color: #fab005;
}

/* intro-container */
.intro-container {
  margin: 150px 0;
}

/* introduce */
.introduce {
  padding: 50px;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.introduce-img-section {
  margin-right: 200px;
}

.introduce-img {
  box-shadow: 10px 10px 5px rgb(211, 209, 209);
}

.introduce-content {
  width: 600px;
}

.introduce-main-content {
  font-weight: bolder;
  font-size: 40px;
}

.introduce-sub-content {
  font-size: 20px;
  font-weight: 400;
  margin-right: 15px;
  text-align: justify;
}

.btn-menu {
  margin-top: 27px;
  padding: 10px 30px;
  color: #fff;
  background-color: #099268;
  border: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 100px;
}

.btn-menu:hover {
  background-color: #0ca678;
}

.btn-menu:active {
  background-color: #12b886;
}

/* gallery */
.gallery-picture {
  text-align: center;
}

.gallery-title {
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 700;
}

.images {
  width: 400px;
  height: 280px;
  padding: 0.6%;
}

/* subcribe */
.subcribe-contanier {
  margin-top: 150px;
}

.subcribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #087f5b;
  height: 400px;
}

.subcribe-box-st {
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.subcribe-box-nd {
  text-align: center;
}

.mail-box {
  padding: 10px;
  font-size: 20px;
  width: 40vh;
  display: block;
  border-radius: 100px;
  border: none;
  transition: 0.5s;
  height: 4vh;
}

.mail-box:hover {
  width: 50vh;
  height: 5vh;
  border: 3px solid #fff;
}

.btn-subcribe {
  margin-top: 50px;
  background-color: #e67700;
  color: #fff;
  font-size: 20px;
  padding: 15px 40px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-subcribe:hover {
  background-color: #f08c00;
}

.btn-subcribe:active {
  background-color: #f59f00;
}

/* footer */
.footer-container {
  margin-top: 100px;
  background-color: #00121b;
  width: 100%;
  padding: 50px 50px;
  text-align: left;
  color: #868e96;
  line-height: 2.5;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-items {
  width: 30%;
}

.item-center {
  padding-left: 100px;
}

.footer-title {
  color: #fff;
}


.footer-link {
  text-decoration: none;
  color: #12b886;
}

.footer-link:hover {
  color: #0ca678;
}

.footer-last {
  font-size: 20px;
  text-align: center;
  color: white;
}

.footer-last-st, .footer-last-nd {
  margin-top: 20px;
}

#icon1,
#icon2,
#icon3 {
  padding-left: 20px;
}
