* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  line-height: 1.7;
  background-image: linear-gradient(
      to right bottom,
      rgba(250, 250, 250, 0.87),
      rgba(255, 255, 255, 0.9)
    ),
    url("./bg.jpg");
}

/* navbar */
.navbar {
  background-color: #000000;
}

.nav-list {
  padding: 30px 150px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: #868e96;
  font-weight: 600;
}

.nav-brand {
  margin-right: auto;
}

.nav-link-brand {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}

.nav-item > a:hover {
  color: #fff;
}

.nav-link-menu {
  color: #fff;
  text-decoration: none;
}

/* menu-container */
.menu-container {
  margin: auto;
  margin-top: 120px;
  width: 1000px;
  border-radius: 10px 10px;
  border: 4px solid #087f5b;
}

/* selector */
#selector {
  border-bottom: 4px solid #087f5b;
  font-weight: bold;
  text-align: center;
  color: #087f5b;
  height: 268px;
}

.selector-title {
  font-size: 50px;
  position: relative;
  bottom: 35px;
}

/* menu box */
.menu-box {
  display: inline-block;
  border: 4px solid #12b886;
  border-radius: 100px;
}

.type {
  color: #087f5b;
  margin: 10px;
  padding: 0 10px;
  font-size: 20px;
}

.type:hover {
  text-decoration: none;
  color: #0ca678;
}

/* menu-list */
.menu-list {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.h {
  color: #087f5b;
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
  width: 100%;
}

.item {
  font-weight: 500;
  font-style: italic;
  color: white;
  background-color: #087f5b;

  border-radius: 10px;

  height: auto;
  width: 400px;

  padding: 10px;
  margin: 5px;

  transition: 0.2s;
}

.item:hover {
  transform: scale(1.02, 1.02);
}

.itemH {
  font-size: 20px;
  text-decoration: none;
}

.price {
  float: right;
  font-style: italic;
  color: #fff;
}

.menu-list a {
  cursor: pointer;
}

#order {
  border: none;
  border-radius: 20px;

  background-color: #087f5b;
  color: #fff;
  font-weight: bold;
  font-size: 20px;

  position: relative;
  left: 300px;

  width: 200px;

  margin: 20px;
  padding: 15px 30px;
  margin-top: 40px;

  transition: 0.5s;
}

#order:hover {
  background-color: #087f5b;
  color: #fff;
  transform: scale(1.02, 1.02);
  cursor: pointer;
}

#order:active {
  background-color: #045c41;
  color: #fff;
  transform: scale(1.02, 1.02);
  cursor: pointer;
}

/* footer */
.footer-container {
  margin-top: 100px;
  background-color: #00121b;
  width: 100%;
  padding: 50px 50px;
  text-align: left;
  color: #868e96;
  line-height: 2.5;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-items {
  width: 30%;
}

.item-center {
  padding-left: 100px;
}

.footer-title {
  color: #fff;
}

.footer-link {
  text-decoration: none;
  color: #12b886;
}

.footer-link:hover {
  color: #0ca678;
}

.footer-last {
  font-size: 20px;
  text-align: center;
  color: white;
}

.footer-last-st {
  margin-top: 20px;
}

.footer-last-nd {
  margin-top: 20px;
}

#icon1,
#icon2,
#icon3 {
  padding-left: 20px;
}
